{
    "settingsURL": "https://gist.githubusercontent.com/ryanmcoble/0705b763deb981d253ea008b64d03a32/raw",
    "fbVersion": "2.12",
    "intervalSec": 60,
    "appId": "",
    "secret": "",
    "groupId": "",
    "pageAccessToken": "",
    "botUserId": ""
}